.doctordiv{
    background-color:rgb(125, 196, 255);
    max-width:70%;
    margin:auto;
    padding:10%;
}

.doctordiv>h3{
    text-align:center;
    border:5px solid rgb(195, 182, 255);
    background-color:rgb(130, 129, 189);
}

.doctordiv>h4{
    text-align:center;
}

.form-control{
    margin-bottom:20px;
}

.form-select{
    margin-bottom:20px;
}